---
- name: Install and Configure Nginx using Ansible
  hosts: localhost
  become: yes
  gather_facts: yes

  vars:
    todays_date: "{{ ansible_facts.date_time.date }}"
    host_name: "{{ ansible_facts.hostname }}"
    ip_address: "{{ ansible_facts.default_ipv4.address }}"

  tasks:
    - name: Update apt cache
      apt:
        update_cache: yes

    - name: Install Nginx
      apt:
        name: nginx
        state: present

    - name: Deploy index page
      template:
        src: index.j2
        dest: /usr/share/nginx/html/index.html
        owner: root
        group: root
        mode: "0644"

    - name: Ensure nginx is running
      service:
        name: nginx
        state: started
        enabled: yes

